@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
  color: #eeeeee;
  font-family: "Roboto Mono";
  font-size: 14px;
  text-align: center;
}

input, button {
  font-family: "Roboto Mono";
  font-size: 14px;
}

input:invalid {
  background-color: #db6353;
}

canvas.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

aside {
  position: fixed;
  right: 0;
  top: calc(6.5% + 1px);
  height: 100%;
  width: max(18em, 18%);
  z-index: 2;
  background-color: #eeeeeebe;
  border-left: 2px solid #eeeeee;
}

.dg * {
  font-family: "Roboto Mono";
}

.hide {
  display: none;
}

.centerbox, box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  background-color: #111111;
  border: 2px solid #eeeeee;
  max-width: calc(94% - 50px);
  max-height: calc(90% - 40px);
  overflow: auto;
}

table td, table th {
  padding: 0.3em;
}

table th {
  vertical-align: bottom;
  padding-bottom: 10px;
}

#real_credits p a {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
}

#real_credits p a span:first-child {
  position: relative;
  overflow: hidden;
}

#real_credits p a span:last-child {
  min-width: 1ch;
  padding-left: 0.5ch;
  font-variant-numeric: tabular-nums;
  text-align: right;
}

#real_credits p a l::after {
  position: absolute;
  padding-inline-start: .25ch;
  width: 100px;
  content: "........................................................................................................................................................................";
  text-align: right;
}

#real_credits a {
  text-decoration: none;
}

#main {
  z-index: -1;
}

#audio {
  text-align: center;
}

#audio audio {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% + 75px);
  filter: invert(100%);
}

audio::-webkit-media-controls-panel {
  background-color: #eeeeee;
}
audio::-webkit-media-controls-timeline { opacity: 100%; }
audio::-webkit-media-controls-timeline-container { opacity: 100%; }
audio::-webkit-media-controls-play-button { opacity: 100%; }
audio::-webkit-media-controls-mute-button { display: none !important; }
audio::-webkit-media-controls-volume-slider { display: none !important; }
audio::-webkit-media-controls-volume-slider-container { display: none !important; }
audio::-webkit-media-controls-seek-back-button { display: none !important; }
audio::-webkit-media-controls-seek-forward-button { display: none !important; }
audio::-webkit-media-controls-fullscreen-button { display: none !important; }
audio::-webkit-media-controls-rewind-button { display: none !important; }
audio::-webkit-media-controls-return-to-realtime-button { display: none !important; }
audio::-webkit-media-controls-toggle-closed-captions-button { display: none !important; }

a {
  color: #eeeeee;
  font-family: "Roboto Mono";
}